.product {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3 auto);
    width: 80%;
    gap: 10px
}

.product__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product__add__btn {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.product__images {
    margin-right: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 15px;

    display: flex;
    gap: 5px;
    height: 50px;
}

.ant-image {
    z-index: 1;
}

.product__img.ant-image-img {
    width: 100px;
    height: 50px;
}

.product__img__thumbnail {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.product__info {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product__price {
   font-size: 24px;
   font-weight: bold;
}

.rating {
    font-size: 14px;
    color: #dfbe07;
}